
#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

body{
  background-color: gray;
background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 50px 50px;
}

.wrap{
  background-color: white;
  max-width: 800px;
  margin: 100px auto;
  
}

.params{
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

#total{
  font-size: 25px;
}
Файл main.js
$(".params").hide()
$("#dialog-confirm").hide()
$("#dialog").hide()
const total = {
  price : 2000,
  count : 0,
  getTotal(){
    return this.price * this.count;
  }
}

$( document ).tooltip();

$("#tabs").tabs({
  activate: function( event, ui ) {
    $(".params").hide(100)
    $(".params").show(100)
    total.price = ui.newTab[0].dataset.price;
    $("#price").text(total.getTotal())
    console.log(ui.newTab[0].dataset.price  )
  }
});

$("#from").selectmenu();

$("#to").selectmenu();

var handle = $("#custom-handle");
$("#slider").slider({
  create: function () {
    handle.text($(this).slider("value"));
  },
  slide: function (event, ui) {
    handle.text(ui.value);
    total.count = ui.value;
    $("#price").text(total.getTotal())
  }
});

$("#buy").click(() => {
  $( "#dialog-confirm" ).dialog({
    resizable: false,
    height: "auto",
    width: 400,
    modal: true,
    buttons: {
      "Да, сохранить!": function() {
        $( this ).dialog( "close" );
        $(".params").hide(100)
        $( "#dialog" ).dialog();
      },
      "Отмена": function() {
        $( this ).dialog( "close" );
      }
    }
  });
}).button()

$( "#datepicker" ).datepicker({
	dateFormat : "dd.mm.yy",
	minDate: new Date($('#hiddendelivdate').val()),
	monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
	dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
});
